body {
    background-image: url("./components/clima-tipos.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

img { 
    width: 100%;

}